version: '3'

services:
  redis:
    image: "redislabs/redismod:latest"
    ports:
      - "6379:6379"
    command: [
      "--loadmodule",
      "/usr/lib/redis/modules/redisearch.so",
      "--loadmodule",
      "/var/opt/redislabs/lib/modules/redisgears.so",
      "Plugin",
      "/var/opt/redislabs/modules/rg/plugin/gears_python.so"
    ]
  streamsdemo:
    build: .
    links:
      - "redis:redis"
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PYTHONUNBUFFERED=1
